@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/*
mains:
171717 ! dark/black
31a1de   dark green
42f5c5   light green / neon green
31de40   light green / bit darker
b0ff00 ! main

accents: 
fe3521 orange
3dff56 green
*/

body,
html,
a,
p,
button,
#main {
	font-family: 'Futura', 'Trebuchet MS', Arial, sans-serif;
	overflow: hidden;
}

html {
	scroll-behavior: auto;
	overflow-y: unset;
}

body,
#main {
	color: white;
	min-height: 100lvh;
	min-width: 100lvw;
}

body:before {
	content: '';
}
body:after {
	content: '';
}

/* Medium and large screens */
@media screen and (min-width: 640px) {
	body:before {
		height: 100vh;
	}
}

@media screen and (min-width: 768px) {
	body {
		font-size: 1.5em;
	}
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: grey;
	border-radius: 10px;
}
